<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.atlantischi.shortcut">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- 快捷方式相关 begin -->


    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher2.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher3.permission.INSTALL_SHORTCUT"/>
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher2.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher3.permission.UNINSTALL_SHORTCUT"/>
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>

    <!-- 魅蓝3s 超大简易模式权限是下面的这个 -->
    <!--<uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>-->
    <!-- coolpad -->
    <uses-permission android:name="com.yulong.android.launcherL.permission.READ_SETTINGS"/>
    <!-- flyme -->
    <uses-permission android:name="com.meizu.flyme.launcher.permission.READ_SETTINGS"/>
    <!-- vivo -->
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS"/>
    <!-- oppo -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <!-- 奇酷 -->
    <uses-permission android:name="com.qiku.launcher.permission.READ_SETTINGS"/>
    <!-- 华为 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <!-- 中兴 -->
    <uses-permission android:name="com.zte.mifavor.launcher.permission.READ_SETTINGS"/>
    <!-- 联想 -->
    <uses-permission android:name="com.lenovo.launcher.permission.READ_SETTINGS"/>
    <!-- 从360手机助手调试版复制过来的部分launcher权限  开始 -->
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.yulong.android.launcher3.READ_SETTINGS"/>
    <uses-permission android:name="org.adw.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.qihoo360.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.lge.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="net.qihoo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="org.adwfreak.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="org.adw.launcher_donut.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.fede.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.sec.android.app.twlauncher.settings.READ_SETTINGS"/>
    <uses-permission android:name="com.tencent.qqlauncher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.ebproductions.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.nd.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.yulong.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.mylauncher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.ztemt.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="cn.nubia.launcher.permission.READ_SETTINGS"/>

    <!-- 从360手机助手调试版复制过来的部分launcher权限  结束 -->
    <!-- 快捷方式相关 end -->
</manifest>
